<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante de Trânsito</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='layout/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/mens_erro.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/nav-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='telas-cliente/encon-desp-serv/encon-desp-serv.css') }}">

    <!--LINK DA FONTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!--CABEÇA - NAVEGAÇÃO-->
    <header>
        <nav>
            <h1>Despachantes e Serviços</h1>
            <div class="buttons">
                <a id="btn-despachante" class="button">Despachantes</a>
                <a href="/cliente/chamadoCliente" class="button">Chamados</a>
                <a href="/cliente/perfilCliente" class="button">Seu Perfil</a>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div id="espaço_flash"><div id="cont_flash" class="flash {{ category }}">{{ msg }}</div></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--BLOCO DOS DESPACHANTES-->
    <main>
        <div class="search-container">
            <input type="text" id="pesquisar_desp" name="name_desp" placeholder="Pesquisar por Despachantes">
            <input type="text" id="pesquisar_cidade" name="cidade_desp" placeholder="Informar o Município">
        </div>
        <section class="cards-container">
            {% for despachante in despachantes %}
                <div class="card">
                    <div class="image-placeholder">
                        <!--<img class="image-placeholder" src="{{ despachante.foto_url }}" alt="Foto de {{ despachante.nome }}" style="width: 100%; height: auto;">-->
                        <img class="image-placeholder" style="width: 100%; height: auto;">
                    </div>
                    <div>
                        <p class="nome_desp">{{ despachante[2] }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

    <script>
        const searchDespInput = document.getElementById('pesquisar_desp');
        const searchCidadeInput = document.getElementById('pesquisar_cidade');

        function removeAccents(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }
        function updateURL() {
            const nomeDesp = removeAccents(searchDespInput.value.toLowerCase());
            const cidadeDesp = removeAccents(searchCidadeInput.value.toLowerCase());
            const url = new URL(window.location.href);

            if (nomeDesp) {
                url.searchParams.set('nome', nomeDesp);
            } else {
                url.searchParams.delete('nome');
            }

            if (cidadeDesp) {
                url.searchParams.set('cidade', cidadeDesp);
            } else {
                url.searchParams.delete('cidade');
            }

            window.location.href = url.toString();
        }

        searchDespInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                updateURL();
            }
        });

        searchCidadeInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                updateURL();
            }
        });
    </script>
</body>
</html>