
/* MENSAGEM DE ERRO */
#espaço_flash {
    margin-top: 10px;
}
#cont_flash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.flash.sucesso {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}
.flash.erro {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
