* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}

body {
    background-color: #F5EFE7;
}

/*CABEÇA - NAVEGAÇÃO*/
header {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213555;
}
h1 {
    color: white;
    font-size: 1.2rem;
}

/*CONTAINER*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main {
    margin: 50px 100px ;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
p {
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
    padding: 25px;
}

/*LABEL ENTRADA*/
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
}
label {
    flex: 1;
    font-size: 0.85rem;
    text-align: left;
}

/*BOTÕES*/
.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}
.btn.submit {
    width: 50%;
    margin: 20px 0 0 190px;
}
