* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}
body {
    background-color: #F5EFE7;
}
/*CORPO*/
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
/*MEIO DE BUSCA*/
.search-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.search-container input {
    padding: 10px;
    width: 23%;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 11px;
}

/*CHAMADOS*/
.chamados-lista {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.chamado {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 12px;
    cursor: pointer;
}
.chamado:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

}
