* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}
body {
    background-color: #F5EFE7;
}
/*CORPO*/
main {
    padding: 10px;
}
main h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.agendamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.agenda {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 10px;
}
/*CONTAINER DO HORARIOS E DATAS*/
article {
    width: 30%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/*DATA EM EXTENSO*/
article h3 {
    padding: 7px;
    font-size: 13px;
}
/*DATA*/
article p {
    margin-top: 5px;
    margin-bottom: 35px;
    padding: 5px;
    font-size: 12px;
}
article p, article h3{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background-color: #F5F5F5;
}
/*HORARIOS, TIPO DE SERVIÇO E CLIENTE*/
article ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}
article ul li:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.horario-agend {
    font-size: 14px;
    font-weight: 400;
}
.tipo-servico, .nome-cliente {
    color: #757575;
}
.tipo-servico{
    margin-top: 5px;
    font-size: 12px;
}
.nome-cliente{
    font-size: 11px;
    font-weight: 500;
}
/*BOTÃO PARA VERIFICAR DATAS ANTERIOS OU SEGUINTES*/
.nav-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
