* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}
body {
    background-color: #F5EFE7;
}

/* MENSAGEM DE ERRO */
.flash.sucesso {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}
.flash.erro {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

/* CABEÇA - NAVEGAÇÃO */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #213555;
    color: white;
    font-size: 15px;

}
/*CORPO - LOCAL PARA PREENCHER INFORMAÇÕES*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
/*ENTRADAS DO FORMULARIO*/
.section-login {
    width: 40%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 12px;
    margin-top: 10px;
    font-size: 12px;
}
input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
}
.button-acessar{
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 20px;
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
}
.button:hover {
    background-color: #555;
}