* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}
/*CABEÇA - NAVEGAÇÃO*/
header {
    width: 100%;
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #213555;
    color: white;
}
nav ul {
    list-style: none;
    gap: 15px; /*espaçamento*/
}
nav ul li {
    display: inline; /*elemento alinhados em uma linha*/
}
nav ul li a:hover {
    background-color: #3E5879;
    border-radius: 6px;
}

/*LINKS E BOTÕES - NAVEGAÇÃO*/
html {
    scroll-behavior: smooth; /*transição mais leve ao rolar*/
}
nav ul li a, .button-login, .button-cadastro {
    color: white;
    font-size: 13px;
    text-decoration: none;
    background: none;
    border: none;
    padding: 5px 15px; /*tamanho do botão*/
    cursor: pointer;
}
.button-login, .button-cadastro {
    font-size: 12px;
    background-color: #3E5879;
    border-radius: 6px;
}
.button-login {
    background-color: white;
    color: #213555;
}

/* SESSÃO - LOGIN */
.sessao-login-form {
    padding: 150px;
    text-align: center;
    background-color: #D8C4B6;
}

/*TITULO*/
.sessao-login-form h1{
    color: #1E1E1E;
    font-size: 40px;
}

/* PARAGRAFO */
.sessao-login-form p {
    padding: 20px;
    color: #757575;
}
.login-form input {
    padding: 8px;
    margin-right: 5px;
    border-radius: 6px;
    border: 1px solid white;
}
.login-form button {
    padding: 8px 15px;
    border: none;
    background-color: #2C2C2C;
    color: white;
    border-radius: 5px;
}

/* SESSÃO - CARROSSEL */
.sessao-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px; /*distancia entre os elementos*/
    padding: 70px;
    background-color: #F5EFE7;
}   

/*QUADROS DO CARROSEL*/
.sessao-quadro {
    width: 300px;
    height: 300px;
    padding: 15px;
    background-color: #ccc;
    border-radius: 10px;
    display: block;
}
.titulo-sessao {
    text-align: left;
    padding-bottom: 15px;
    font-size: 12px;
}
.parag-sessao {
    text-align: left; /* Alinha o texto de forma justificada */
    line-height: 1.5; /* Define o espaçamento entre as linhas */
    font-size: 12px;
}

/*SESSAO SOBRE NOS*/
.sessao-sobre-nos {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8C4B6;
}
.sobre-nos-texto {
    width: 900px;
    height: 300px;
    padding: 40px;
    display: block;
    border-radius: 25px;
    background-color: #F5EFE7;
}
.titulo-sobre-nos, .parag-sobre-nos {
    display: flex;
    justify-content: center;
}   
.titulo-sobre-nos {
    padding-bottom: 15px;
    font-size: 19px;
}
.parag-sobre-nos {
    text-align: justify; /* Alinha o texto de forma justificada */
    line-height: 1.9; /* Define o espaçamento entre as linhas */
    text-indent: 2em;
    font-size: 12px;
}

/*RODAPE*/
footer {
    background-color: #fff;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 2px solid #d4b5a5;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo img {
    width: 30px;
}

.footer-links {
    display: flex;
    gap: 50px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin-top: 5px;
}