* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evitar que o padding acrescente valor*/
}
body {
    background-color: #F5EFE7;
}


/*CORPO FORMULARIO*/
.container {
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 17px;

}
/*CAMPOS EMBUTIDOS*/
.double-input {
    display: flex;
    justify-content: space-between;
}
.double-input div {
    width: 48%;
}
/*TITULOS E LOCAL DA ENTRADA DE DADOS*/
label {
    display: block;
    text-align: left;
    font-size: 12px;
    margin: 5px 0 2px;
}
input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}
/*BOTÃO - ANEXAR E ENVIAR*/
.btn-anexo, .btn-update {
    padding: 8px;
    margin-top: 20px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}