<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante de Trânsito</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='layout/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout/mens_erro.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/nav-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='telas-cliente/perfil-cliente/perfil-cliente.css') }}">

    <!--LINK DA FONTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!--CABEÇA - NAVEGAÇÃO-->
    <header>
        <nav>
            <h1>Perfil</h1>
            <div class="buttons">
                <a href="/cliente/encontrarServicos" class="button">Despachantes</a>
                <a href="/cliente/chamadoCliente" class="button">Chamados</a>
                <a id="btn-perfil"  class="button">Seu Perfil</a>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div id="espaço_flash"><div id="cont_flash" class="flash {{ category }}">{{ msg }}</div></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- CORPO DO FORMULARIO -->
    <main>
        <form method="POST" id="perfil-form">
            <div class="container">
                <section class="profile-form">
                    <!--PRIMEIRO-->
                    <h2>Informações Pessoais</h2>
                    <label>Nome Completo</label>
                    <input type="text" name="nome_cliente" value="{{ cliente[2] }}" readonly>
                    <div class="double-input">
                        <div>
                            <label>CPF</label>
                            <input type="text" name="cpf_cliente" value="{{ cliente[0] }}" readonly>
                        </div>
                        <div>
                            <label>RG</label>
                            <input type="text" name="rg_cliente" value="{{ cliente[1] }}" readonly>
                        </div>
                    </div>
                    <div class="double-input">
                        <div>
                            <label>Data de Nascimento</label>
                            <input type="date" name="nasc_cliente" value="{{ cliente[3] }}" readonly>
                        </div>
                        <div>
                            <button class="btn-anexo">Anexar Identidade</button>
                        </div>
                    </div>
                
                    
                    <!--SEGUNDO-->
                    <h2>Informações de Contato e Login</h2>
                    <div class="double-input">
                        <div>
                            <label>Telefone Pessoal</label>
                            <input type="text" name="tele_pessoal_cliente" value="{{ cliente[4] }}" readonly>
                        </div>
                        <div>
                            <label>Telefone Residencial</label>
                            <input type="text" name="tele_residencial" value="{{ endereco[2] }}" readonly>
                        </div>
                    </div>
                    <label>Email</label>
                    <input type="email" name="email_cliente" value="{{ cliente[5] }}" readonly>
                    <div class="double-input">
                        <div>
                            <label>Senha</label>
                            <input type="password" name="senha_cliente" value="{{ cliente[6] }}" readonly>
                        </div>
                        <div>
                            <label>Confirmar Senha</label>
                            <input type="password" name="senha_confir" readonly>
                        </div>
                    </div>

                    <!--TERCEIRO-->
                    <h2>Endereço Residencial</h2>
                    <div class="double-input">
                        <div>
                            <label>Endereço</label>
                            <input type="text" name="endereco_cliente" value="{{ endereco[3] }}" readonly>
                        </div>
                        <div>
                            <label>Bairro</label>
                            <input type="text" name="bairro_cliente" value="{{ endereco[5] }}" readonly>
                        </div>
                    </div>
                    <div class="double-input">
                        <div>
                            <label>Número da Casa</label>
                            <input type="text" name="num_cliente" value="{{ endereco[4] }}" readonly>
                        </div>
                        <div>
                            <label>CEP</label>
                            <input type="text" name="cep_cliente" value="{{ endereco[6] }}" readonly>
                        </div>
                    </div>
                    <div class="double-input">
                        <div>
                            <label>Cidade</label>
                            <input type="text" name="cidade_cliente" value="{{ endereco[7] }}" readonly>
                        </div>
                        <div>
                            <label>Estado</label>
                            <input type="text" name="estado_cliente" value="{{ endereco[8] }}" readonly>
                        </div>
                    </div>
                    <button class="btn-update" id="editar-btn" type="button">Atualizar</button>
                    <button class="btn-update" id="salvar-btn" type="submit" style="display:none;">Salvar</button>
                </section>
            </div>
        </form>
    </main>
</body>
</html>

<script>
    const editarBtn = document.getElementById('editar-btn');
    const salvarBtn = document.getElementById('salvar-btn');
    const inputs = document.querySelectorAll('#perfil-form input');

    editarBtn.addEventListener('click', function() {
        inputs.forEach(input => input.removeAttribute('readonly'));
        editarBtn.style.display = 'none';
        salvarBtn.style.display = 'inline';
    });
</script> 