/*CONTAINER E TITULO*/
main {
    text-align: center;
    padding: 20px 20px;
}
main h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/*CORPO DOS SERVIÇOS E BOTÕES*/
.service-list {
    background: white;
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
    padding: 15px;  
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Tornar o container um flex container */
    flex-direction: column; /* Organizar os itens em coluna inicialmente */
}
.service-item {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    background: #E5E5E5;
}
.service-item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
/*botões*/
.icon_editar, .icon_excluir {
    align-items: center;
    width: 25px;
}
.actions {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}
.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.add-button-container {
    display: flex;
    justify-content: flex-end; /* Alinhar o botão à direita */
    margin-bottom: 15px; /* Adicionar um pouco de espaço abaixo do botão */
}
.button_adicionar{
    padding: 8px 15px;
    border: none;
    background-color: #2C2C2C;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.button_adicionar:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #555;
    cursor: pointer;
}