<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante de Trânsito</title>
    
    <link rel="stylesheet" type="text/css" href="../../layout/">
    <link rel="stylesheet" type="text/css" href="servico-desp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout/nav-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='telas-despachantes/servico-desp/servico-desp.css') }}">


    <!--LINK DA FONTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!--CABEÇA - NAVEGAÇÃO-->
    <header>
        <nav>
            <h1>Olá, Nome Despachante</h1>
            <div class="buttons">
                <a href="" id="btn-perfil" class="button">Serviços</a>
                <a href="/despachante/chamados" class="button">Chamados</a>
                <a href="/despachante/agendamentos" class="button">Agendamentos</a>
                <a href="/despachante/perfil" class="button">Seu Perfil</a>
            </div>
        </nav>
    </header>
    <main>
        <h2>Seus Serviços</h2>
        <section class="service-list">
            <div class="add-button-container">
                <a href="/despachante/criarNovoServico" class="button_adicionar">Adicionar Serviço</a>
            </div>            
            {% if servicos %}
                {% for servico in servicos %}
                    <div class="service-item">
                        <span>{{ servico[1] }}</span>
                        <div class="actions">
                            <form method="POST" action="/despachante/editarServico/{{ servico[0] }}">
                                <button class="edit" type="submit">
                                    <img class="icon_editar" src="{{ url_for('static', filename='layout/icon_pencil.png') }}">
                                </button>
                            </form>
                            <form method="POST" action="/despachante/deletarServico/{{ servico[0] }}">
                                <button class="delete" type="submit">
                                    <img class="icon_excluir" src="{{ url_for('static', filename='layout/icon_delete.png') }}">
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Você ainda não cadastrou nenhum serviço.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>